@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    position: absolute;
    z-index: 10;
    display: flex;
    width: 100%;
    padding: 42px 170px 0;
}

.navigation {
    margin-left: auto;
}

.navigation ul {
    display: flex;
    gap: 75px;
    list-style: none;
}

.navigation ul li {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    color: #fff;
    text-transform: uppercase;
}

.navigation ul li:first-of-type {
    color: #F4BF87;
    border-bottom: 1px solid #F4BF87;
    width: 85px;
    text-align: center;
}

.welcome {
    width: 100%;
    background: url(img/eagle.png) no-repeat;
    background-size: cover;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome::before {
    position: absolute;
    content: '';
    background: linear-gradient(to top,rgba(237, 215, 137, 0.9), rgba(233, 130, 131, 0.9));
    height: 100%;
    width: 100%;
    z-index: 1;
}

.welcome__content {
    margin-top: 200px;
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome__content h3 {
    color: white;
    font-family: Kaushan Script;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 93px;
    letter-spacing: 0em;
    text-align: center;    
}

.welcome__content h1 {
    color: white;
    font-family: Montserrat;
    font-size: 144px;
    font-style: normal;
    font-weight: 700;
    line-height: 176px;
    letter-spacing: 0em;
    text-align: center;
}

.welcome__content__separater {
    width: 170px;
    border-bottom: 2px solid white;
    margin-top: 50px;
}

.welcome__content__button {
    background-color: transparent;
    border: 2px solid white;
    margin-top: 50px;
    color: white;
    padding: 30px 140px;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    cursor: pointer;
}

.welcome__content__menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
    width: 100%;
}

.welcome__content__menu__item {
    display: flex;
    width: 150px;
    padding: 20px 70px 20px 0;
    border-top: 2px solid white;
    color: white;
    opacity: 0.5;
}

.welcome__content__menu__item h4 {
    font-family: Raleway;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;

    display: flex;
    align-items: flex-end;
}

.welcome__content__menu__item h4 span{
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}

#menu-item-intro:hover {
    opacity: 1;
}

#menu-item-work:hover {
    opacity: 1;
}

#menu-item-about:hover {
    opacity: 1;
}

#menu-item-contacts:hover {
    opacity: 1;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width: 80%;
}

.about__content h2 { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Kaushan Script;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 50px;
    
}

.about__content h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Raleway;
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 50px;
}

.about__content__separater {
    width: 170px;
    border-bottom: 2px solid red;
    margin-top: 50px;
}

.about__content p {
    text-align: center;
    margin-top: 50px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000; 
}

.about__content__images {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
    padding: 15px;
    margin-bottom: 10px;
}

.about__content__images img {
    width: 370px;
    height: 338px;
    padding: 0 10px;
}

.numbers {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #95E1D3;
    margin-top: 100px;
}

.numbers__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 0 100px;
}

.numbers__content__item {
    width: 230px;
    height: 250px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.numbers__content__item h3{
    font-family: Raleway;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 75px;
    letter-spacing: 0em;
    text-align: center;
    
}

.numbers__content__item p{   
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
}
